numpy
torch
torchvision
pytorch_lightning
opencv-contrib-python-headless
facenet_pytorch
imgaug
dvc[gdrive]
hydra-core
scikit-learn
torchsummary
pretrainedmodels
mlflow
git+https://github.com/kareemjano/image_toolbox.git@v0.1#egg=image-toolbox